@media only screen and (max-width: 2000px){
    .mini-icon1, .mini-icon-circle, .mini-icon2, .mini-logo, .mini-logo-img, 
    .mini-green-bar, .minibar-list,  .minibar-one, .minibar-two, .minibar-three,
    .mini-ul-list-wrap, .mini-main, .mini-footer{
        display: none;
    }

    .footerfooter{
        position: absolute; margin-left: 20%; margin-top: 10%;
    }
}

@media only screen and (max-width: 1280px){

    .mini-icon1, .mini-icon-circle, .mini-icon2, .mini-logo, .mini-logo-img, 
    .mini-green-bar, .minibar-list,  .minibar-one, .minibar-two, .minibar-three,
    .mini-ul-list-wrap, .mini-main, .mini-footer{
        display: none;
    }

    .searchbar-box{
        height: 210px;
    }

    .searchbar-box2{
        display: none;
    }

    .whale{
        height: 33px;
    }

    .whale img {
        margin-left: 5%;
        width: 80%;
    }

    .search-img{
        margin-left: 10%;
        margin-top: 10%;
        width: 110%;
    }

    .green-bar {
        height: 50px;
        margin-top: 60px;
        margin-left: 20px;
    }
    
    .green-bar input[type=text]{
        width: 70%;
    }

    .key {
        font-size: 15px;
    }
    
    .sort{
        font-size: 18px;        
    }

    /*-----------------------------------------------------*/
    /* 서비스 바                                           */
    /*----------------------------------------------------*/

    .service-ul{
        margin-left: 10%;
    }
    
    .start{
        margin-top: 10px;
        font-size: 10px;
    }

    .jrnaver img{
        width: 30%;
    }
    
    .icon {
        width: 200px;
    }
    
    .happy img{
        width: 20%;
    }
    
    /*-----------------------------------------------------*/
    /* 메인 nav                                             */
    /*-----------------------------------------------------*/

    .main-nav{
        height: 60px;
        font-size: 15px;
    }

    .main-nav2 {
        margin-left: 5%;
    }

    .fix-nav img {
        width: 7%;
        margin-left: -3%;
        margin-top: -4px;
    }

    .other {
        position: absolute;
        margin-left: 74%;
        margin-top: -2px;
    }
    .other span {
        font-size: 12px;
    }
    
    .filter{
        position: absolute;
        width: 20%;
        margin-left: 72%;
        margin-top: -5px;
        font-size: 12px;
    }

    /*-----------------------------------------------------*/
    /* 메인 pannel                                         */
    /*-----------------------------------------------------*/

    .main-pannel{
        width: 90%;
        height: 100%;
    }

    .news-bar{
        font-size: 10px;
        padding: 15px;
    }

    .news-stand {
        margin-top: 15px;
        height: 30px;
    }

    .news-stand-one-img{
        width: 5%;
    }

    .news-stand p {
        font-size: 12px;
    }

    .news-pannel img{
        width: 89%;
        margin-left: -3%;
    }

    .daily-write{
        height: 30px;
    }

    .daily-write-one{
        font-size: 10px;
    }

    .daily-write-one span{
        font-size: 12px;
    }

    .daily-write-two{
        font-size: 10px;
    }

    .daily-write-sub{
        width: 105%;
        margin-left: -3%;
    }

    .sub-title{
        font-weight: 700;
        font-size: 5px;
    }

    .box-info h5{
        font-size: 11px;
    }

    .box-info p{
        font-size: 10px;
        text-overflow: ellipsis;
    }

    .box-info{
        height:110px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .news-media-figure{
        margin-top: 15px;
        float: left;
        width: 27%;
        font-size: 12px;
        line-height: 160%;
        margin-bottom: 15px;
        margin-left: 4%;
    }

    /*-----------------------------------------------------*/
    /* 사이드 pannel                                        */
    /*-----------------------------------------------------*/

    .side-pannel{
        width: 80%;
        height: 1500px;
    }
    
    .wish2{
        float: left;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 10px;
        line-height: 160%;
    }

    .footer-whale img{
        position: absolute;
        width: 20%;
        margin-left: -15%;
        margin-top: 10px;
        float: right;
    }

}

@media only screen and (max-width: 1023px){

    .searchbar-box2{
        display: none;
    }

}

/* 모바일 버전 */
@media only screen and (max-width: 800px){

    .mini-icon1, .mini-icon-circle, .mini-icon1, .mini-icon2, .mini-logo, .mini-logo-img, 
    .mini-green-bar, .minibar-list,  .minibar-one, .minibar-two, .minibar-three,
    .mini-ul-list-wrap, .mini-main, .mini-footer{
        display: inline-block;
    }
 
    .whale, .green-bar, .search-img, .service-bar, 
    .main-nav2, .filter, .main-pannel, .side-pannel, .footer-wrap{
       display: none;
    }

    .searchbar-box{
        height: 250px;
    }

    .mini-icon1{
        float: left;
        margin-left: 2%;
        font-size: 30px;
    }

    .mini-icon-circle{
        float: right;
        width: 40px;
        height: 40px;
        border: 1px solid #e6e6e7;
        background-color: #f5f6f8;
        border-radius: 50%;
        padding: 5px;
        margin-right: 2%;
    }

    .mini-icon2{
        float: right;
        width: 25px;
    }


    .mini-logo{
        width: 100%;
    }

    .mini-logo-img{
        width: 30%;
        margin-left: 35%;
        margin-top: 40px;
    }

    .mini-green-bar {
        width : 75%;
        height: 60px;
        border: 1px solid #04cf5c;
        margin-top: 10px;
        margin-left: 11%;
    }

    .mini-green-bar input[type=text]{
        height: 90%;
        width: 70%;
        margin-right: 10px;
        border: none;
    }

    .minibar-list{
        float: right;
        height: 100%;
        width: 25%;
    }

    .minibar-one, .minibar-two{
        width: 18%;
    }

    .minibar-one, .minibar-two{
        margin-right: 15px;
        margin-bottom: 5px;
    }

    .minibar-three{
        width: 25%;
        margin-top: 5px;
    }

    .main-nav{
        width: 100%;
        height: 200px;
        border: none;
        box-shadow: none;
        padding-top: 0px;
    }

    .mini-ul-list-wrap{
        width: 100%;
        height: 200px;
    }

    .mini-ul-list{
        position: absolute;
        width: 60%;
        margin-left: 15%;
        margin-bottom: 40px;
    }

    .mini-ul-list li{
        float: left;
        list-style-type: none;
        margin-left: 60px;
        margin-bottom: 40px;
    }

    .mini-ul-list li img{
        width: 30px;
        border: 1px solid #e7eaec;
        border-radius: 30%;
        position: absolute;
        margin-top: 9px;
        margin-left: 9px;
    }

    .mini-ul-list li span{
        position: absolute;
        margin-top: 11px;
        margin-left: 14px;
        font-size: 25px;
        color: #d1d3d4;
    }

    .list-item{
        width: 50px;
        height: 50px;
        background-color: #f6f9fc;
        border: 1px solid #f6f9fc;
        border-radius: 30%;
    }

    .list-item p{
        position: absolute;
        margin-top: 55px;
        margin-left: 5px;
        font-size: 12px;
    }

    .mini-main{
        width: 100%;
        height: 1000px;
        background-image: linear-gradient(to bottom,#fff 0,#e9f1f8 60.62%,#f2f5f7 100%);
    }

    .mini-ad img{
        width: 50%;
        margin-left: 25%;
    }

    .wheather-banner, .banner{
        width: 100%;
    }

    .inner-wheather{
        width: 70%;
        height: 100px;
        background-color: #fff;
        margin-top: 10px;
        margin-left: 15%;
    }

    .inner-banner{
        width: 70%;
        height: 70px;
        background-color: #fff;
        margin-top: 10px;
        margin-left: 15%;
    }

    .inner-banner1{
        width: 70%;
        height: 60px;
        background-color: #fff;
        margin-top: 10px;
        margin-left: 15%;
        padding: 20px 20px 0px 20px;
    }

    .inner-banner2{
        width: 70%;
        height: 170px;
        background-color: #fff;
        margin-top: 10px;
        margin-left: 15%;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    .inner-wheather img{
        width: 60%;
        margin-left: 15%;
        margin-top: 10px;
    }

    .wheather-title img{
        width: 70%;
        margin-left: 15%;
        margin-top: 10px;
    }

    .inner-wheather2{
        width: 70%;
        height: 120px;
        background-color: #fff;
        margin-left: 15%;
        margin-top: 10px;
        font-size: 14px;
        padding: 20px;
        color: #8d8d8d;
    }

    .inner-wheather2-title i {
        float: right;
        font-size: 20px;
    }

    .inner-wheather2-title span{
        font-weight: 700;
        font-size: 15px;
        color: #000;
    }

    .inner-wheather2-info{
        margin-left: 20%;
        margin-top: 5%;
    }

    .inner-logo img{
        width: 30px;
        border-radius: 30%;
        float: left;
        margin-top: 20px;
        margin-left: 20px;
    }

    .inner-info p{
        font-size: 14px;
        width: 70%;
        position: absolute;
        margin-top: 25px;
        margin-left: 55px;
    }

    .inner-info span{
        font-weight: 700;
    }

    .inner-info button{
        float: right;
        border: 1px solid #3987ff;
        border-radius: 5px;
        background-color: #fff;
        color : #3987ff;
        font-size: 13px;
        height: 40px;
        width: 90px;
        position: absolute;
        margin-left: 50%;
        margin-top: 15px;
    }

    .inner-banner1 P{
        float: left;
        font-weight: 700;
    }

    .inner-banner1 i{
        float: right;
    }

    .ad01{
        margin-top: 10px;
        margin-left: 15%;
    }

    .inner-banner2 img{
        width: 40px;
    }

    .pan-title1{
        margin-left: 15px;
        margin-right: 250px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    .pan-title2{
        font-size: 14px;
    }

    .pan-info{
        float: left;
        width: 250px;
        height: 50px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
        background-color: #f6f7f9;
    }

    .pan-info img{
        float: left;
        margin-top: 5px;
    }

    .pan-title{
        width: 100%;
        height: 30px;
    }

    .pan-title1{
        float: left;
    }

    .pan-info2{
        float: right;
    }

    .pan-info p{
        margin-top: 15px;
        font-size: 14px;
    }

    .pan-info i {
        float: right;
        margin-right: 10px;
    }

    footer{
        width: 100%;
        height: 200px;
        background-color: #f2f5f7;
        border: none;
    }

    .mini-footer{
        margin-top: 8%;
        position: absolute;
        margin-left: 33%;
    }

    .mini-footer img{
        margin-left: 35%;
        margin-top: 10px;
    }

    .footer-info, .footer-info-sub{
        font-size: 13px;
        color: #8d8d8d;
        text-align: center;
        line-height: 180%;
    }

    .footer-info a, .footer-info-sub a {
        text-decoration: none;
        color: #8d8d8d;
    }


}

/* 모바일 버전 */
@media only screen and (max-width: 500px){

    .searchbar-box2{
        width: 100%;
        height: 500px;
    }
    
}